<ion-header>

    <ion-toolbar color="primary">
      <ion-title>About EOValue</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content class="bg-style" padding>
  
    <ion-card>
      <img src="assets/img/EC-JRC-logo_vertical_EN_pos_RGB.jpg">
      <img src="assets/img/EOValue.jpg">
  
          <ion-card-content>
            This application has been developed within the EOVALUE project, 
            which has received funding from the European Union’s Horizon 2020 
            research and innovation programme. The JRC, or as the case may be 
            the European Commission, shall not be held liable for any direct 
            or indirect, incidental, consequential or other damages, including 
            but not limited to the loss of data, loss of profits, or any other 
            financial loss arising from the use of this application, or inability 
            to use it, even if the JRC is notified of the possibility of such damages.
          </ion-card-content>
        </ion-card>

  </ion-content>
