page-about {

    .bg-style {
        background: rgb(240, 240, 240);
    }
    
    .toolbar-background {
        background-color: #488AFF;
      }

      .toolbar-title-md {
        font-size: 1.5rem !important; // Default should be 2.0rem
        color: white;
    }

}