<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Alert Info</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col>
          <ion-card no-margin margin-bottom class="full-width">
            <ion-card-header>
              <h4 ion-text color="dark">RoadBot</h4>
            </ion-card-header>
            <ion-list>
              <ion-item>
                <ion-icon name="people" slot="start"></ion-icon> 
                <h2 ion-text color="dark">RoadBot</h2>
              </ion-item>
            </ion-list>
          </ion-card>
          
          <ion-card no-margin margin-bottom>
            <ion-card-content>
                <ion-row>
                    <ion-col>
                      <ion-card no-margin margin-bottom>
                        <ion-card-content>
                          <p>RoadBot...</p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
            
              <div *ngIf="geoLatitude">
                <p>Latitude : {{geoLatitude}}</p>
                <p>Longitude : {{geoLongitude}}</p>
                <p>Accuracy : {{geoAccuracy}}</p>
                <p class="address-text">
            
                  <span class="watch-text" *ngIf="isWatching; else notWatching">
                    Watching Location
                  </span>
                  <ng-template #notWatching>
                    Location Watch Stopped
                  </ng-template>
            
                  <br>Address : {{geoAddress }}
                </p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

</ion-content>
