<ion-header>

    <ion-toolbar color="primary">
      <ion-title>About RoadBot</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content class="bg-style" padding>
  
    <ion-card>
      <img src="assets/img/roadbot.png">
  
        <ion-card-header>
            <ion-card-title>RoadBot</ion-card-title>
        </ion-card-header>
      <ion-card-content>
      A personalized, smart, road companion system.
      </ion-card-content>
      <ion-card-content>
        RoadBOT is a location-based mobile application, 
        which leverages various open data sources 
        and geospatial web services  in order  to alert the
        users when they are in danger.
      </ion-card-content>
      <ion-card-content>
        Developed by Sense team <br>
        http://senseit.gr/
      </ion-card-content>
    </ion-card>

  </ion-content>
