<ion-header>

    <ion-toolbar color="primary">
      <ion-title>About RoadBot</ion-title>
      <!--
      <ion-buttons left>
          <button ion-button icon-only (click)="pop()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons> 
      -->
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content class="bg-style" padding>
  
    <ion-card>
      <img src="assets/img/roadbot.png">
  
        <ion-card-header>
            <ion-card-title>RoadBot</ion-card-title>
        </ion-card-header>
      <ion-card-content>
      A personalized, smart, road companion system.
      </ion-card-content>
      <ion-card-content>
          RoadBOT is a location-based mobile application 
          which tracks the user’s location exploiting the GPS 
          functionality of the device, the web services and various 
          open data sources in order to alert her/him if it needs
      </ion-card-content>
    </ion-card>

  </ion-content>
