<ion-header>
  <ion-toolbar color="primary">
    <ion-title>RoadBot</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  -->
  </ion-toolbar>

</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col>
          <ion-card no-margin margin-bottom>
            <ion-card-content>
              <p>RoadBot...</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

  <div *ngIf="geoLatitude">
    <p>Latitude : {{geoLatitude}}</p>
    <p>Longitude : {{geoLongitude}}</p>
    <p>Accuracy : {{geoAccuracy}}</p>
    <p class="address-text">

      <span class="watch-text" *ngIf="isWatching; else notWatching">
        Watching Location
      </span>
      <ng-template #notWatching>
        Location Watch Stopped
      </ng-template>

      <br>Address : {{geoAddress }}
    </p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
  <div text-center>
    <ion-button size="default" color="tertiary" (click)="watchLocation()">
      Start tracking
    </ion-button>
    <ion-button size="default" color="tertiary" (click)="stopLocationWatch()">
      Stop tracking
    </ion-button>
  </div>
</ion-toolbar>
</ion-footer>